@charset "utf-8";
/* CSS Document */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img
	{
	margin: 0;
	padding: 0;
}

div {
	background-repeat: no-repeat;
}

.u0_container {
	position: absolute;
	left: 100px;
	top: 270px;
	width: 720px;
	height: 1280px;
}

#u0_img {
	position: absolute;
	left: -3px;
	top: -3px;
	width: 726px;
	height: 1286px;
}

.u0_normal {
	background-image: url(../image/u0_normal.png);
}

.u1 {
	position: absolute;
	left: 2px;
	top: 632px;
	width: 716px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u2 {
	position: absolute;
	left: 160px;
	top: 600px;
	width: 310px;
	height: 58px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u3 {
	position: absolute;
	left: 480px;
	top: 604px;
	width: 300px;
	height: 50px;;;
	text-align: left;;
	font-family: '微软雅黑';
	font-size: 28px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

.u4 {
	position: absolute;
	left: 480px;
	top: 850px;
	width: 300px;
	height: 50px;;;
	text-align: left;;
	font-family: '微软雅黑';
	font-size: 28px;
	color: #000000;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
}

.u5 {
	position: absolute;
	left: 150px;
	top: 850px;
	width: 310px;
	height: 58px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u6_container {
	position: absolute;
	left: 150px;
	top: 706px;
	width: 300px;
	height: 100px;
}

.u6_normal {
	width: 300px;
	height: 60px;
	font-size: 25px;
	font-weight: bold;
}

#u6_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 300px;
	height: 100px;
}

.u7 {
	position: absolute;
	left: 2px;
	top: 42px;
	width: 296px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u8 {
	position: absolute;
	left: 163px;
	top: 739px;
	width: 252px;
	height: 34px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u9_container {
	position: absolute;
	left: 100px;
	top: 1140px;
	width: 720px;
	height: 410px;
}
/*.u9_normal {
	background-image:url(../../image/u9_normal.png);
}
*/
#u9_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 720px;
	height: 410px;
}

.u10 {
	position: absolute;
	left: 2px;
	top: 197px;
	width: 716px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u11 {
	position: absolute;
	left: 240px;
	top: 420px;
	width: 410px;
	height: 43px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u12 {
	position: absolute;
	left: 480px;
	top: 720px;
	width: 300px;
	height: 34px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u13_container {
	position: absolute;
	left: 230px;
	top: 980px;
	width: 620px;
	height: 100px;
}

.u13_normal {
	width: 450px;
	height: 60px;
	font-size: 25px;
	font-weight: bold;
}

#u13_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 620px;
	height: 100px;
}

.u14 {
	position: absolute;
	left: 2px;
	top: 42px;
	width: 616px;
	height: 16px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u15 {
	position: absolute;
	left: 240px;
	top: 1013px;
	width: 468px;
	height: 43px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}

.u16 {
	position: absolute;
	left: 480px;
	top: 930px;
	width: 560px;
	height: 34px;;;;
	font-family: Arial;
	text-align: left;
	word-wrap: break-word;
}