/* CSS Document */
html {
	FONT:12px "microsoft yahei", arial, 宋体;
}
body {
	margin:0;
	color:#333333;
	line-height:200%;
	min-width:320px;
	width:100%;
}
a {
	color:#333333;
	text-decoration:none;
}
* {
	padding:0;
	margin:0
}
img {
	border:none;
	width:100%;
}
.contain {
	width:100%;
}
.ad img {
	width:100%;
}
.safe_logo {
	padding-top:60px;
	padding-bottom:10px;
	text-align:center
}
.safe_logo img {
	width:50%;
}
.safe_logo.w30 img{ width:30%;}
.flash {
	text-align:center;
	position:relative;
}
.flash img.flashimg {
	width:80%;
}
.flash .ico{ position:absolute; top:35%; left:40%; width:20%}
.past {
	text-align:right;
	width:80%;
	margin:0 auto;
	padding-top:10px;
}
.past a {
	display:block;
	background:url(../images/past.png) no-repeat right center;
	padding-right:30px;
	font-size:18px;
	color:#1565A4
}
.bottom_bg {
	width:100%;
	height:150px;
	background:url(../images/bg.png);
	margin-top:50px;
}
.left, .right {
	float:left;
}
.right {
	padding-left:15px;
}
.clear {
	clear:both;
	height:0px;
	width:100%;
}
.getcode, .input {
	padding-top:20px;
	font-size:15px;
}
.right input {
	height:28px;
	line-height:28px;
	border:solid 1px #828282;
	width:175px;
}
.getcode input.button {
	background:#1665A0;
	border:none;
}
.getcode .border {
	float:left;
}
.getcode .words a {
	display:block;
	color:#fff;
}
.getcode .words {
	background:url(../images/title_center.png);
	width:110px;
	float:left;
	height:38px;
	line-height:38px;
	text-align:center
}
.margin {
	width:320px;
	margin: 0 auto;
}
.getcode .right {
	line-height:38px;
}
.notice {
	color:#FF0204;
	text-align:right;
	padding:5px 0;
	width:280px;
}
.getcode .words.wid {
	width:258px;
}
.ad.p10 {
	padding-top:15px;
}

li {
	list-style:none;
}

#foot ul{ margin:0 auto}
#foot ul, #foot li { 
	padding:0
}
#foot .foot_catelist {
	width:100%;
}
#foot .foot_catelist ul {
	width:100%;
}
#foot .foot_catelist li {
	float:left;
	width:20%;
	line-height:250%;
}
#foot .foot_catelist li.now {
	background:#fff;
}
#foot .foot_catelist li.now a {
	color:#000
}
#foot .foot_catelist li a {
	text-align:center;
	display:block;
	color:#fff;
}
#foot .ad {
	width:100%;
	margin:0 auto
}
#foot .foot_catelist {
	width:100%;
	margin:10px auto 0;
	background:#ECECEC;
}
#foot .foot_catelist li a {
	color:#000
}
.notice_words{ width:50%; margin: 0 auto; color:#1565A2; padding:50px 0; font-size:16px}